[submodule "cmake-example"]
	path = cmake-example
	url = https://github.com/bast/cmake-example.git
[submodule "rtags"]
	path = rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule "waf-test"]
	path = waf-test
	url = https://github.com/vikigenius/waf-test.git
